*.iml
.idea/
*.iml
target/
project/target
dependency-reduced-pom.xml
*.pdf
*.swp
*.sw*
metastore_db
*.log

.cache-main
.classpath
.project
.settings
.recommenders/caches
.metadata

**/.DS_Store
/.recommenders/
